# ----------------------------
# Example Terraform Variables
# ----------------------------

aws_region        = "us-east-1"
aws_region_az     = "us-east-1a"
aws_access_key    = "AKIAEXAMPLEACCESSKEY"
aws_secret_key    = "exampleSecretKey1234567890"
key_name          = "devops_key"
public_key_path   = "~/.ssh/id_rsa.pub"
ami_id            = "ami-0c02fb55956c7d316"
